*{
    background-color: black;
    color: white;
    border: 0px;
    margin: 0px;
    padding: 0px;

}
#main{
    display: flex;
}
#left{
    display: flex;
    flex-flow: wrap column;
}
#right{
    display: flex;
    flex-flow: wrap column;
}

#dashboard{
    width: 75vw;
    height: 15vh;
    background-color: yellow;
}
aside{
    display: flex;
    width: 25vw;
    height: 75vh;
    background-color: blueviolet;
}
header{
    display: flex;
    width: 25vw;
    height: 25vh;
    background-color: blue;
}
footer{
    display: flex;
    width: 75vw;
    height: 15vh;
    background-color: red;
}
main{
    display: flex;
    width: 75vw;
    height: 70vh;
    background-color: green;
}