*{

    border: 0px;
    margin: 0px;
    padding: 0px;

}
#main{
    display: flex;
}
#left{
    display: flex;
    flex-flow: wrap column;
}
#right{
    display: flex;
    flex-flow: wrap column;
}

#dashboard{
    width: 80vw;
    height: 11vh;
    background-color: yellow;
}

#card{
    width: 18vw;
    height: 11vh;
    background-color: rgb(65, 20, 107);
    margin: 10px;
}

#card2{
    width: 25vw;
    height: 20vh;
    background-color: rgb(0, 54, 0);
    margin: 10px;
}

aside{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 20vw;
    height: 67vh;
    background-color: blueviolet;
}
header{
    display: flex;
    width: 20vw;
    height: 33vh;
    background-color: blue;
    
}
h1{
    text-align: center;
}
footer{
    display: flex;
    width: 80vw;
    height: 11vh;
    background-color: red;
}
main{
    display: flex;
    width: 80vw;
    height: 78vh;
    background-color: green;
}

